@keyframes apear {
	to {
		opacity: 1;
	}
}
@keyframes scale {
	to {
		scale: 1 1;
	}
}
@keyframes rotateByAngle {
	to {
		rotate: var(--angle);
	}
}

@keyframes showMenuItems {
	to {
		right: 0;
	}
}
@keyframes hideMenuItems {
	from {
		right: 0;
	}
}