#stocks {
	display: flex;
	column-gap: clamp(10px, 4.5%, 30px);

	height: min-content;
	margin-bottom: var(--MB);

	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-stop: always;
  scroll-snap-type: x proximity;

	.stock {
		flex: 0 0 90vw;
		display: flex;
		flex-flow: column nowrap;
		scroll-snap-align: center;

		> img {
			width: 100%;
			max-height: 50vh;
			object-fit: cover;
		}

		> div {
			color: #fff;
			background: #272727;
			height: 100%;
			padding: clamp(10px, 5%, 25px);

			> h3 {
				margin-bottom: clamp(19px, 7.5%, 25px);
				font-size: clamp(1.2rem, 1.6vw, 2rem);
				font-weight: bolder;
			}

			> div {
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				backdrop-filter: blur(10px);

				> p {
					margin-bottom: clamp(13px, 5%, 25px);
					font-size: clamp(1rem, 1.2vw, 1.5rem);
					
					font-family: Verdana, Geneva, Tahoma, sans-serif;
					text-align: justify;
				}

				> a {
					display: block;
					padding-inline: 5px;
					color: #fff;
					position: relative;
					font-size: clamp(1rem, 1.15vw, 1.3rem);

					&::after {
						content: '';
						display: block;
						position: absolute;
						border-bottom: #009bff 3px solid;

						width: 100%;
						top: calc(100% - 3px);
						left: 50%;
						translate: -50% 50%;
						transition: .1s;
					}
					&:active:after {
						width: 50%;
						border-bottom-color: #5500ff;
						transition: .3s;
					}
					&:visited {
						border-bottom: #009bff 3px dashed;
					}
				}
			}
		}
	}
}