#stocks {
	display: flex;
	overflow-x: scroll;
	height: min-content;
	column-gap: clamp(10px, 4.5vw, 30px);
	scroll-behavior: smooth;
	scroll-snap-stop: always;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
	margin-bottom: var(--MB);

	.stock {
		flex: 0 0 90vw;
		display: flex;
		flex-flow: column nowrap;
		scroll-snap-align: center;

		> h3 {
			margin-bottom: 10px;
			text-align: center;
			font-size: clamp(.9rem, 2.5vw, 2.5rem);
			font-weight: bolder;
		}

		> img {
			width: 100%;
			max-height: 50vh;
			object-fit: cover;
		}

		> div {
			height: 100%;
			color: #fff;
			background: #272727;

			> h3 {
				padding-top: 25px;
				padding-inline: 10px;
				font-size: clamp(1rem, 2.5vw, 2.5rem);
				font-weight: bolder;
			}

			> div {
				backdrop-filter: blur(10px);
				padding: 10px 5px;

				> p {
					margin-top: 25px;
					margin-inline: 10px; 
					
					font-family: Verdana, Geneva, Tahoma, sans-serif;
					text-align: justify;
				}

				> a {
					display: block;
					text-align: center;
					margin-block: 25px 5px;
					color: #fff;
					text-decoration: underline #ff0 3px;

					&:active {
						text-decoration: dashed underline #ff0 3px;
					}
					&:visited {
						text-decoration: dotted underline #ff0 3px;
					}
				}
			}
		}
	}
}