@media (width >= 900px) {
	html {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
	body {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: clamp(800px, 80vw, 2000px);
	}
	header {
		width: 100%;
		margin-bottom: var(--MB);

		> img#logo {
			width: clamp(108px, 10vw, 288px);
		}
	}
	main {
		width: 80%;

		.form {
			.input:not(:has(#mail, input[type=range])) {
        width: calc(25% - 10px);
			}
			.input:has(#amount) {
				flex-direction: row;
				justify-content: space-between;

				#amount {
					width: 50%;
				}
			}
		}
	}
	menu {
		width: 100%;
		#menuIcon {
			display: none;
		}
	
		#menuItems {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-evenly;
			align-items: center;
			position: relative;
			top: auto;
			right: auto;
			
			width: 100%;
			min-height: 100%;
			padding: 0;
			animation: none;

			#menuExit {
				display: none;
			}
	
			> a {
				border: none;
				padding-right: 10px;
				position: relative;
	
				&::after {
					content: '';
					display: block;
					width: 0;
					height: 3px;
					background-color: currentColor;
					position: absolute;
					top: calc(100% - 3px);
					left: 50%;
					translate: -50%;
					transition: .1s;
				}
	
				&:hover::after {
					width: 101%;
					transition: .5s;
				}
				&:active:after {
					width: 30%;
					background-color: #5500ff;
					transition: .3s;
				}
			}
		}
	}
	footer {
		width: 100%;
		grid-template-columns: repeat(4, 1fr) !important;

		> p {
			text-align: center !important;
		}

		> p:first-child {
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}
	#stocks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: clamp(10px, 4.5vmax, 30px);
		overflow-x: hidden;
	}
}