header {
	display: flex;
	background-color: #181818;

	#logo {
		height: clamp(64px, 3.75vw, 108px);

		> img {
			width: 100%;
			height: 100%;

			object-fit: cover;
			object-position: center;
		}
	}
	> menu {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		justify-content: center;
		position: relative;

		font-family: sans-serif;
		font-weight: 600;

		width: 100%;
		background-color: inherit;
	}
}
main {
	margin-bottom: var(--MB);
}

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	padding: 15px 10px;

	color: #fff;
	background-color: #000;

	> p {
		font-family: sans-serif;
		font-size: clamp(1rem, 1.3vw, 1.5rem);
		font-weight: 700;
		margin-bottom: 10px;

		> a {
			color: #009bff;
		}
	}

	> p:first-child {
		grid-column: 1 / 3;
	}

	.textCenter {
		text-align: center;
	}
	.textEnd {
		text-align: end;
	}
}

#menuIcon {
	width: clamp(64px, 3.75vw, 108px);
	height: clamp(64px, 3.75vw, 108px);
	cursor: pointer;
	
	counter-reset: lines;
	position: relative;

	&:active {
		background-color: #ffffff15;
		-webkit-tap-highlight-color: #ffffff15;
	}
	&:focus + #menuItems {
		display: flex;
	}

	> span {
		display: block;
		width: 80%;
		height: 4%;
		background-color: #fff;

		counter-increment: lines;
		position: absolute;
		top: calc(100% - 25% * var(--line));
		left: 50%;
		translate: -50% -50%;
	}
}

#menuItems {
	display: none;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	row-gap: 15px;

	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom-left-radius: 10px;

	position: absolute;
	top: 0;
	right: -100%;

	font-size: large;
	background-color: inherit;
	animation: showMenuItems 1s ease-in forwards;

	&:active {
		display: flex;
	}
	&:has(#menuExit:active) {
		animation: hideMenuItems 1s ease-out forwards;
	}

	#menuExit {
		display: flex;
		justify-content: flex-end;
		animation: showExitBtn 1s forwards;

		> div {
			position: relative;
			width: clamp(64px, 3.75vw, 108px);
			height: clamp(64px, 3.75vw, 108px);

			&:active {
				background-color: #ffffff15;
				-webkit-tap-highlight-color: #ffffff15;
			}

			&::after {
				--angle: 45deg;

				content: '';
				display: block;
				width: 80%;
				height: 4%;
				background-color: #fff;

				position: absolute;
				top: 50%;
				left: 50%;
				rotate: 90deg;
				translate: -50% -50%;
				animation: rotateByAngle .5s forwards .5s;
			}
			&::before {
				--angle: -45deg;

				content: '';
				display: block;
				width: 80%;
				height: 4%;
				background-color: #fff;

				position: absolute;
				top: 50%;
				left: 50%;
				rotate: -180deg;
				translate: -50% -50%;
				animation: rotateByAngle .5s forwards .5s;
			}
		}
	}

	> a {
		padding-inline: 10px;
		padding-block: 5px;
		border-radius: 5px;
		border-left: solid currentColor 3px;
		font-size: clamp(1rem, 1.3vw, 1.5rem);

		color: #009bff;
		-webkit-tap-highlight-color: #ffffff15;

		&:active {
			border-left-color: #5500ff;
		}
	}
}