@keyframes rotateByAngle {
	to {
		rotate: var(--angle);
	}
}

@keyframes showMenuItems {
	to {
		right: 0;
	}
}
@keyframes hideMenuItems {
	from {
		right: 0;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: #0009;
}

html {
	--MB: clamp(10px, 4.5vh, 50px);
	scroll-behavior: smooth;
}

header {
	display: flex;
	background-color: #181818;

	#logo {
		width: 100%;
		height: clamp(64px, 3.75vw, 108px);
		object-fit: cover;
		object-position: center;
	}
	> menu {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		width: 100%;
	}
}

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-flow: row wrap;
	row-gap: 10px;
	color: #fff;
	background-color: #000;
	padding: 15px 10px;

	> p {
		margin-bottom: 10px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: large;
		font-weight: 700;

		> a {
			color: #009bff;
		}
	}

	> p:first-child {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.textCenter {
		text-align: center;
	}
	.textEnd {
		text-align: end;
	}
}

#menuIcon {
	width: clamp(64px, 3.75vw, 108px);
	height: clamp(64px, 3.75vw, 108px);
	cursor: pointer;
	
	counter-reset: lines;
	position: relative;

	&:active {
		background-color: #ffffff15;
		-webkit-tap-highlight-color: #ffffff15;
	}
	&:focus + #menuItems {
		display: flex;
	}

	> span {
		display: block;
		width: 80%;
		height: 5%;
		border-radius: 15%;
		background-color: #fff;

		counter-increment: lines;
		position: absolute;
		top: calc(100% - 25% * var(--line));
		left: 50%;
		translate: -50%;
	}
}

#menuItems {
	display: none;
	flex-flow: column nowrap;
	row-gap: 15px;

	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom-left-radius: 10px;

	position: absolute;
	top: 0;
	right: -100%;

	font-size: large;
	background: #181818;
	animation: showMenuItems 1s ease-in forwards;

	&:active {
		display: flex;
	}
	&:has(#menuExit:active) {
		animation: hideMenuItems 1s ease-out forwards;
	}

	#menuExit {
		display: flex;
		justify-content: flex-end;
		animation: showExitBtn 1s forwards;

		> div {
			width: clamp(64px, 3.75vw, 108px);
			height: clamp(64px, 3.75vw, 108px);
			position: relative;

			&:active {
				background-color: #ffffff15;
				-webkit-tap-highlight-color: #ffffff15;
			}

			&::after {
				--angle: 45deg;
				content: '';
				display: block;
				width: 80%;
				height: 5%;
				border-radius: 15%;
				rotate: 90deg;
				background-color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				animation: rotateByAngle .5s forwards .5s;
			}
			&::before {
				--angle: -45deg;
				content: '';
				display: block;
				width: 80%;
				height: 5%;
				border-radius: 15%;
				rotate: -180deg;
				background-color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				animation: rotateByAngle .5s forwards .5s;
			}
		}
	}

	> a {
		color: #009bff;
		padding-inline: 10px;
		padding-block: 5px;
		border-radius: 5px;
		border-left: solid currentColor 3px;

		-webkit-tap-highlight-color: #ffffff15;

		&:active {
			border-left-color: #5500ff;
		}
	}
}