@media (width >= 900px) {
	body {
		justify-content: center;
		align-items: center;

		height: 100vh;
	}
	.form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-flow: row nowrap;
		background-color: #f9f9f9;

		width: 80%;
		height: 80%;
		padding: clamp(10px, 2.5%, 30px);

		> img, form {
			width: 50%;
			height: 100%;
		}

		> img {
			display: block;
		}

		> form {
			align-items: center;
		}
	}
}