.form {
	display: flex;
	flex-flow: column-reverse nowrap;
	border-top-right-radius: 100% clamp(10px, 2.5%, 20px);
	border-bottom-right-radius: clamp(10px, 2.5%, 20px) 100%;

	> img {
		display: none;
		border-top-left-radius: clamp(10px, 2.5%, 20px) 100%;
		border-top-right-radius: 100% clamp(10px, 2.5%, 20px);
		border-bottom-left-radius: 100% clamp(10px, 2.5%, 20px);
		border-bottom-right-radius: clamp(10px, 2.5%, 20px) 100%;
	}

	> form {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		width: 100vw;
		height: 100dvh;
		padding-inline: clamp(20px, 4.5vh, 60px);
		padding-bottom: 0;

		> button {
			color: #fff;
			font-size: clamp(1.3rem, 4%, 2rem);
			padding: clamp(10px, 3%, 30px);
			background-color: #181818;
			font-family: serif;
			scale: 0;
			border: none;
			transform-origin: top right;
			animation: fadeInBtn 1s 1s ease-out forwards;

			
			border-top-left-radius: 100% clamp(10px, 2.5%, 20px);
			border-top-right-radius: 100% clamp(10px, 2.5%, 20px);
			border-bottom-left-radius: clamp(10px, 2.5%, 20px) 100%;
			border-bottom-right-radius: clamp(10px, 2.5%, 20px) 100%;
		}
	}
}

.underlinedInput {
	display: flex;
	flex-flow: column nowrap;
	font-family: cursive;
	transform-origin: left;
	transform: scaleX(0);
	animation: fadeInUnderlinedInput 1s var(--i) ease forwards;
	width: 100%;
	font-size: clamp(1.3rem, 4.5%, 2rem);

	&:has(input:focus, input:not(:placeholder-shown)) {
		> label {
			animation: fadeInLabel 1s ease-out forwards;
		}
		> input::placeholder {
			color: transparent;
		}
	}

	> label {
		opacity: 0;
		font-size: clamp(.8rem, 6.5%, 2rem);
	}

	> input {
		border: none;
		outline: none;
		border-bottom: 3px solid #000;
		font-family: inherit;
		font-size: inherit;
		font-weight: 700;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px 100%;
		border-bottom-right-radius: 100% 10px;
		background-color: transparent;
		color: inherit;
	}
}